/*SELECTOR UNIVERSAL*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*SELECTOR DE TIPO*/
body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #000000;
  padding-top: 80px;
  text-align: justify;
}

/*SELECTOR DE CLASE*/

.nav-bar{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #95d125;
  display: flex;
  justify-content:space-around;
  align-items: center;
  padding: 15px 40px;
  box-shadow: 0 4px 10px #2c4070;
  z-index: 1000;
}

/*SELECTOR POR ID*/

#titulo-principal{
  margin-bottom: 40px;
  color: #2c4070;
  text-align: center;
  
}